{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'projects/style.css' %}">
    <title>Yonit Rusho</title>
  </head>
  <body>
      <div class="myrow">
        <header>
            <a href="{% url 'home' %}" class="logo">
                Yonit Rusho
            </a>
        </header>
        <nav id="topNav" class="navbar navbar-expand-md navbar-light">
            <div class="container">
              <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% static 'portfolio/resume.pdf' %}">My CV</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/yonit-rusho/" target="_blank">LinkedIn</a>
                  </li>
                  <li>
                    <a role="button" href="blog" class="btn btn-primary">Blog</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <main>
            <h1>Yonit Rusho - Portfolio</h1>
            <img src="{% static 'projects/yonitrushoalps.jpg' %}">
            <div class="row">
                {% for project in projects %}
                <div class="col-lg-4 col-md-6" id="{{project.id}}">
              
                  {% if project.url %}
                  <a href="{{ project.url }}" target="_blank">
                    <img src="{{ project.image.url }}" class="img-fluid mb-2" alt="{{project.title}}" title="{{project.title}}">
                  </a>
                  {% else %}
              
                  <img src="{{ project.image.url }}" class="img-fluid mb-2" alt="{{project.title}}" title="{{project.title}}">
                  {% endif %}
                  <h3>{{ project.title }}</h3>
                  <p>{{ project.description }}</p>
              
                </div>
                {% endfor %}
            </div>
        </main>
      </div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
